@import 'src/assets/private/sass/base.scss';

.carousel {
     background: $primary;
 }

.carousel-item {
  height: 300px;
}

.carousel-image img {
  left: 40px;
  bottom: 40px;
  min-height: 300px;
}

