<div class="container">
  <div class="row row-content">
    <ngb-carousel *ngIf="images"class="bs-carousel">
      <ng-template ngbSlide>
        <div class="carousel-image">
          <img [src]="images[0]" alt="Uthappizza">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h2>Uthappizza <span class="badge badge-danger">
            HOT</span> <span class="badge badge-pill badge-default">
            $4.99</span></h2>
          <p class="hidden-xs-down">A unique combination of Indian Uthappam (pancake) and Italian pizza,
            topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion,
            Guntur chillies and Buffalo Paneer.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="carousel-image">
          <img [src]="images[1]" alt="Buffet">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h2 class="mt-0">Weekend Grand Buffet
            <span class="badge badge-danger">NEW</span>
          </h2>
          <h3>This Month's Promotions</h3>
          <p class="hidden-xs-down">Featuring mouthwatering combinations with a choice of five different
            salads, six enticing appetizers,
            six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for
            just
            $19.99 per person</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="carousel-image">
          <img [src]="images[2]" alt="Alberto Somayya">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h2 class="mt-0">Alberto Somayya</h2>
          <h4>Executive Chef</h4>
          <p class="hidden-xs-down">Award winning three-star Michelin chef with wide International experience having
            worked closely with
            whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion
            experiences.
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
