@import 'src/assets/private/sass/base.scss';

.footer {
    background-color: $secondary;
    margin: 0 auto;
    padding: 20px 0 0;

  &__address {
    font-size: 80%;
    margin: 0;
    color: #0F0F0F
  }

  &__social-icons {
    text-align: center;
  }
}
