@import 'src/assets/private/sass/base.scss';

.navbar-inverse {
    background-color: $purple;
}

.nav-collapse .li {
    list-style-type: none;
}

.dropdown-toggle::after {
  display: none;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0 auto;
  background: $secondary;
  color: floralwhite;
}

.row-header {
  margin: 30px auto;
  padding: 0;
}

.logo {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 15px;
}
