@import 'src/assets/private/sass/base.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'src/assets/private/sass/bootstrap-social.scss';
//@import 'node_modules/bootstrap/scss/font-awesome.min.css';
//@import 'src/app/components/header/header.component.scss';