<header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-sm-6">
                    <h1>Ristorante con Fusion</h1>
                    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience.
                        Our lipsmacking
                        creations will tickle your culinary senses!</p>
                </div>
                <div class="col-sm-3 logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </div>
                <div class="col-sm-3 align-self-center">
                    <button type="button" class="btn btn-block btn-sm btn-warning" (click)="open(content)">
                        Reserve Table
                    </button>
                </div>
            </div>
        </div>
      </header>

<ng-template #content let-modal>
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Reserve a Table </h4>
              <button type="button"  class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="row form-group">
              <div class="col-sm-2 pr-3">
                  Number of Guests
              </div>
              <div class="col-sm-10 d-flex">
                  <div class="pr-3">
                      <input type="radio" name="table"> 1
                  </div>
                  <div class="pr-3">
                      <input type="radio" name="table"> 2
                  </div>
                  <div class="pr-3">
                      <input type="radio" name="table"> 3
                  </div>
                  <div class="pr-3">
                      <input type="radio" name="table"> 4
                  </div>
                  <div class="pr-3">
                      <input type="radio" name="table"> 5
                  </div>
                  <div class="pr-3">
                      <input type="radio" name="table"> 6
                  </div>
              </div>
          </div>
              </div>
              </div>
              <div class="row form-group">
          <div class="col-2 pr-0">
              Section
          </div>
          <div class="col-10 row">
              <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-success active">
                      <input type="radio" name="options" id="option1" checked>Non-Smoking
                  </label>
                  <label class="btn btn-danger">
                      <input type="radio" name="options" id="option2">Smoking
                  </label>
              </div>
          </div>
              </div>

          <div class="row form-group">
          <div class="col-2 pr-0">
              Date and Time
          </div>
          <div class="col-10 row">
            <div class="form-group">
              <label for="date">Date of birth</label>
              <div class="input-group">
                <input id="date" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div>
              </div>
            </div>
              <div class="input-group col-sm-5">
                  <div class="input-group-addon">
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                  </div>
                  <input type="text" class="form-control"  placeholder="Time">
              </div>
          </div>

      </div>
  </div>
</div>

  <div class="modal-footer">
      <div class="col-10">
          <button type="button" class="btn btn-default btn-sm" (click)="modal.dismiss('Cross click')">Cancel
          </button>
          <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Reserve</button>
      </div>
  </div>
</ng-template>
<div class="row row-content">
  <div class="col">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Uthappizza">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h2>Uthappizza <span class="badge badge-danger">
                          HOT</span> <span class="badge badge-pill badge-default">
                          $4.99</span></h2>
          <p class="hidden-xs-down">A unique combination of Indian Uthappam (pancake) and Italian pizza,
            topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion,
            Guntur chillies and Buffalo Paneer.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Buffet">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h2 class="mt-0">Weekend Grand Buffet
            <span class="badge badge-danger">NEW</span>
          </h2>
          <h3>This Month's Promotions</h3>
          <p class="hidden-xs-down">Featuring mouthwatering combinations with a choice of five different
            salads, six enticing appetizers,
            six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for
            just
            $19.99 per person</p>
        </div>
      </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Alberto Somayya">
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h2 class="mt-0">Alberto Somayya</h2>
                <h4>Executive Chef</h4>
                <p class="hidden-xs-down">Award winning three-star Michelin chef with wide International experience having worked closely with
                  whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion
                  experiences.
                </p>
              </div>
            </ng-template>
        </ngb-carousel>
      </div>
</div>
